<form method="post" action="create/post">
    <b><label>Surname</label></b>
    <input name="surname"><br>
    <b><label>Name</label></b>
    <input name="name"><br>
    <b><label>Age</label></b>
    <input name="age"><br>
    <b><label>Sex</label></b>
    <input name="sex"><br>
    <b><label>Content</label></b>
    <input name="content"><br>
    <button type="submit">Create</button>
</form>
