<?php
use Tsehelnyk\Person\Api\Data\PersonInterface;

/**
 * @var Tsehelnyk\Person\Block\Main $block
 */

?>
<?php /** @var PersonInterface $item */?>
<?php foreach ($block->getItems()->getItems() as $item): ?>
    <b><label>Surname</label></b>
    <h7><?= $item->getSurname() ?></h7><br>
    <b><label>Name</label></b>
    <h7><?= $item->getName() ?></h7><br>
    <b><label>Age</label></b>
    <h7><?= $item->getAge() ?></h7><br>
    <a href=<?= $block->getDomen() ?>person/index/item?id=<?= $item->getId()?>><button>More</button></a>
    <hr>
<?php endforeach; ?>
