<?php
/**
 * @var Tsehelnyk\Person\Block\Item $block
 */
$data = $block->getItem();
?>
<b><label>Surname</label></b>
<h7><?= $data->getSurname() ?></h7><br>
<b><label>Name</label></b>
<h7><?= $data->getName() ?></h7><br>
<b><label>Age</label></b>
<h7><?= $data->getAge() ?></h7><br>
<b><label>Sex</label></b>
<h7><?= $data->getSex() ?></h7><br>
<b><label>Created At</label></b>
<h7><?= $data->getCreatedAt() ?></h7><br>
<b><label>Content</label></b>
<hr>
<h7><?= $data->getContent() ?></h7><br>
