<!--The 'step_code' value from the .js file should be used-->
<li id="step_code" data-bind="fadeVisible: isVisible">
    <div class="step-title" data-bind="i18n: 'Step Title'" data-role="title"></div>
    <div id="checkout-step-title"
         class="step-content"
         data-role="content">

        <form data-bind="submit: navigateToNextStep" novalidate="novalidate">
            <div class="actions-toolbar">
                <div class="primary">
                    <label>Input your age</label>
                    <input type="number" id="age" name="age" data-validate='{"required":true}'/>
                    <br>
                    <span id="error"></span>
                    <br>
                    <button type="button" data-bind="click: onSubmit" class="action" id="checkButton">
                        <span data-bind="i18n: 'Submit'">Validate your age</span>
                    </button>
                    <br>
                    <button data-role="opc-continue" type="submit" class="button action continue primary" id="button_to_stop" disabled>
                        <span>Next</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</li>
